In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np

In [2]:
import os
os.getcwd()

'c:\\student_dropout_prediction_app\\Notebooks'

In [3]:
os.chdir("/student_dropout_prediction_app")

In [4]:
os.getcwd()

'c:\\student_dropout_prediction_app'

In [5]:
df = pd.read_csv("fully_transformed_student_dataset.csv")
df

,Marital Status,Application Mode,Application Order,Course Name,Daytime/Evening Attendance,Previous Qualification,Nationality,Mother's Qualification,Father's Qualification,Mother's Occupation,...,Credited Units (2nd Sem),Enrolled Units (2nd Sem),Evaluated Units (2nd Sem),Approved Units (2nd Sem),Average Grade (2nd Sem),Not Evaluated Units (2nd Sem),Unemployment Rate (%),Inflation Rate (%),GDP per Capita (USD),Student Status
0,Single,2nd phase—general contingent,5,Animation and Multimedia Design,Daytime,Secondary education,Portuguese,General commerce course,Other—11th Year,Service/Sales/Security,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,Single,International student (bachelor),1,Tourism,Daytime,Secondary education,Portuguese,Secondary Education,Higher Education Degree,Technicians & Professionals,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,Single,1st phase—general contingent,5,Communication Design,Daytime,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 1st Cycle,Unskilled Workers,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,Single,2nd phase—general contingent,2,Journalism and Communication,Daytime,Secondary education,Portuguese,Accounting & Admin course,Basic Edu 1st Cycle,Service/Sales/Security,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,Married,Over 23 years old,1,Social Service (evening attendance),Evening,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 2nd Cycle,Unskilled Workers,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,Single,1st phase—general contingent,6,Journalism and Communication,Daytime,Secondary education,Portuguese,Secondary Education,Secondary Education,Service/Sales/Security,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,Single,1st phase—general contingent,2,Journalism and Communication,Daytime,Secondary education,Russian,Secondary Education,Secondary Education,Unskilled Workers,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,Single,1st phase—general contingent,1,Nursing,Daytime,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 1st Cycle,Unskilled Workers,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,Single,1st phase—general contingent,1,Management,Daytime,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 1st Cycle,Skilled Industry Workers,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,Single,Ordinance No. 854-B/99,1,Journalism and Communication,Daytime,Secondary education,Cape Verdean,Accounting & Admin course,Basic Edu 1st Cycle,Service/Sales/Security,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [6]:
%pip install ydata-profiling

Requirement already satisfied: ydata-profiling in .\stenv\lib\site-packages (4.18.0)
Requirement already satisfied: scipy<1.17,>=1.8 in .\stenv\lib\site-packages (from ydata-profiling) (1.16.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.5 in .\stenv\lib\site-packages (from ydata-profiling) (2.3.1)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in .\stenv\lib\site-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic<3,>=2 in .\stenv\lib\site-packages (from ydata-profiling) (2.11.7)
Requirement already satisfied: PyYAML<6.1,>=6.0.3 in .\stenv\lib\site-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=3.1.6 in .\stenv\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in .\stenv\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.4,>=1.22 in .\stenv\lib\site-packages (from ydata-profiling) (2.3.2)
Requirement already satisfied: minify-html>=0.15.0 in .\stenv\lib\site-packages (from ydata-profiling) (0.18.1)
Requirement already satisfied: filetype>=1.0.0 in .\stenv\lib\site-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.12.5 in .\stenv\lib\site-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.32.0 in .\stenv\lib\site-packages (from ydata-profiling) (2.32.4)
Requirement already satisfied: tqdm<5,>=4.66.3 in .\stenv\lib\site-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in .\stenv\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in .\stenv\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in .\stenv\lib\site-packages (from ydata-profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=4 in .\stenv\lib\site-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.2 in .\stenv\lib\site-packages (from ydata-profiling) (4.3.2)
Requirement already satisfied: wordcloud>=1.9.4 in .\stenv\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite<2,>=1.9 in .\stenv\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<0.63,>=0.60 in .\stenv\lib\site-packages (from ydata-profiling) (0.62.1)
Requirement already satisfied: PyWavelets in .\stenv\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (1.9.0)
Requirement already satisfied: pillow in .\stenv\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (11.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in .\stenv\lib\site-packages (from jinja2<3.2,>=3.1.6->ydata-profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.3)
Requirement already satisfied: cycler>=0.10 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in .\stenv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.46,>=0.45.0dev0 in .\stenv\lib\site-packages (from numba<0.63,>=0.60->ydata-profiling) (0.45.1)
Requirement already satisfied: pytz>=2020.1 in .\stenv\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in .\stenv\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in .\stenv\lib\site-packages (from phik<0.13,>=0.12.5->ydata-profiling) (1.5.1)
Requirement already satisfied: annotated-types>=0.6.0 in .\stenv\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in .\stenv\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in .\stenv\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (4.14.1)
Requirement already satisfied: typing-inspection>=0.4.0 in .\stenv\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (0.4.1)
Requirement already satisfied: charset_normalizer<4,>=2 in .\stenv\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in .\stenv\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in .\stenv\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in .\stenv\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2025.7.14)
Requirement already satisfied: patsy>=0.5.6 in .\stenv\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: colorama in .\stenv\lib\site-packages (from tqdm<5,>=4.66.3->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in .\stenv\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in .\stenv\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.6.1)
Requirement already satisfied: puremagic in .\stenv\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six>=1.5 in .\stenv\lib\site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
from ydata_profiling import ProfileReport
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'pkg_resources'

In [9]:
%pip install --upgrade setuptools

Collecting setuptools
  Using cached setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Using cached setuptools-80.9.0-py3-none-any.whl (1.2 MB)
Installing collected packages: setuptools
Successfully installed setuptools-80.9.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
from ydata_profiling import ProfileReport
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

c:\student_dropout_prediction_app\stenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [11]:
profile = ProfileReport(df, title="YData Profiling Report")
profile.to_file("report.html")

100%|██████████| 35/35 [00:00<00:00, 129.87it/s]<00:00, 67.76it/s, Describe variable: Student Status]
Summarize dataset: 100%|██████████| 333/333 [00:20<00:00, 16.02it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.51s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.85s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 20.52it/s]

In [12]:
mapping_unified = {

    # BASIC
    'Basic education 2nd cycle': 'Basic',
    'Basic education 3rd cycle': 'Basic',
    'Basic Edu 1st Cycle': 'Basic',
    'Basic Edu 2nd Cycle': 'Basic',
    'Basic Education 3rd Cycle': 'Basic',
    '7th Year (Old)': 'Basic',
    '7th year': 'Basic',
    '8th year': 'Basic',
    '2nd year complementary': 'Basic',
    '9th—not completed': 'Basic',
    'Cannot read/write': 'Basic',
    'Can read (no 4th year)': 'Basic',

    # SECONDARY INCOMPLETE
    '10th year': 'Secondary_Incomplete',
    '10th year—not completed': 'Secondary_Incomplete',
    '11th year—not completed': 'Secondary_Incomplete',
    '12th year—not completed': 'Secondary_Incomplete',
    'Other—11th Year': 'Secondary_Incomplete',
    'Other—11th year':'Secondary_Incomplete',

    '10th Year': 'Secondary_Incomplete',
    '11th Year—not completed': 'Secondary_Incomplete',
    '12th Year—not completed': 'Secondary_Incomplete',
    'Comp. High School—not concluded': 'Secondary_Incomplete',

    # SECONDARY / TECHNICAL
    'Secondary education': 'Secondary/Technical',
    'Secondary Education': 'Secondary/Technical',
    'Frequency of higher education': 'Secondary/Technical',
    'Frequency of Higher Education': 'Secondary/Technical',
    'Professional higher technical course': 'Secondary/Technical',
    'Technological specialization course': 'Secondary/Technical',
    'Technical-professional course': 'Secondary/Technical',
    'Tech Specialization Course': 'Secondary/Technical',
    'General commerce course': 'Secondary/Technical',
    'Administration & Commerce course': 'Secondary/Technical',
    'Accounting & Admin course': 'Secondary/Technical',
    '2nd cycle general high school': 'Secondary/Technical',
    'Complementary High School Course': 'Secondary/Technical',
    'Prof Higher Technical Course': 'Secondary/Technical',

    # HIGHER EDUCATION
    'Higher education—degree': 'HigherEd',
    'Higher education—degree (1st cycle)': 'HigherEd',
    'Higher education—bachelor’s degree': 'HigherEd',
    'Higher education—master’s degree': 'HigherEd',
    'Higher education—master’s (2nd cycle)': 'HigherEd',

    'Higher Education Degree': 'HigherEd',
    'Higher Edu Degree (1st cycle)': 'HigherEd',
    'Bachelor’s Degree': 'HigherEd',

    # DOCTORATE + POSTGRAD → Doctorate
    'Higher education—doctorate': 'Doctorate',
    'Master’s Degree': 'Doctorate',
    'Master’s (2nd cycle)': 'Doctorate',
    'Doctorate': 'Doctorate',
    'Doctorate (3rd cycle)': 'Doctorate',
    'Specialized Higher Studies': 'Doctorate',

    # SPECIAL
    'Unknown': 'Unknown'
}


df['FatherQual'] = df["Father's Qualification"].map(mapping_unified)
df['PrevQual'] = df['Previous Qualification'].map(mapping_unified)
df['MotherQual'] = df["Mother's Qualification"].map(mapping_unified)

In [13]:
course_mapping = {
    'Nursing': 'Health',
    'Oral Hygiene': 'Health',
    'Veterinary Nursing': 'Health',

    'Management': 'Management',
    'Management (evening attendance)': 'Management',
    'Advertising and Marketing Management': 'Management',
    'Tourism': 'Management',

    'Social Service': 'Social',
    'Social Service (evening attendance)': 'Social',

    'Journalism and Communication': 'Communication',
    'Communication Design': 'Communication',

    'Animation and Multimedia Design': 'Arts',
    

    'Agronomy': 'Agriculture',
    'Equiniculture': 'Agriculture',

    'Basic Education': 'Education',

    'Informatics Engineering': 'Engineering',

    'Biofuel Production Technologies': 'Energy'
}
df['Course_Field'] = df['Course Name'].map(course_mapping)

In [14]:
occupation_mapping = {
    # UNEMPLOYED / BLANK / OUT OF LABOR
    'Blank': 'Unemployed',
    'Other Situation': 'Unemployed',
    'Student': 'Unemployed',

    # LOW SKILL
    'Unskilled Workers': 'LowSkill',
    'Unskilled Ag Workers': 'LowSkill',
    'Unskilled Industry/Transport': 'LowSkill',
    'Subsistence Farmers': 'LowSkill',
    'Street Vendors': 'LowSkill',
    'Meal Prep Assistants': 'LowSkill',
    'Food/Clothing/Other Crafts': 'LowSkill',
    'Farmers/Ag Workers': 'LowSkill',
    'Market-Oriented Farmers': 'LowSkill',
    'Machine Operators': 'LowSkill',
    'Assembly Workers': 'LowSkill',
    'Drivers/Mobile Operators': 'LowSkill',
    'Security Workers': 'LowSkill',
    'Sales Workers': 'LowSkill',
    'Care Workers': 'LowSkill',
    'Personal Service Workers': 'LowSkill',

    # SKILLED LABOR & ADMIN
    'Skilled Industry Workers': 'Skilled',
    'Construction Workers': 'Skilled',
    'Metal Industry Workers': 'Skilled',
    'Fixed Plant Operators': 'Skilled',
    'Administrative Staff': 'Skilled',
    'Secretaries/Office Workers': 'Skilled',
    'Other Admin Support': 'Skilled',
    'Finance/Registry Operators': 'Skilled',
    'Electrical/Electronics Workers': 'Skilled',

    # TECHNICAL STAFF
    'Technicians & Professionals': 'Technical',
    'Science/Engineering Technicians': 'Technical',
    'ICT Technicians': 'Technical',
    'Legal/Social/Culture Technicians': 'Technical',
    'Health Technicians': 'Technical',
    'Physical Science Specialists': 'Technical',

    # HIGH-SKILL PROFESSIONALS
    'Scientific Specialists': 'Professional',
    'Health Professionals': 'Professional',
    'Teachers': 'Professional',
    'Finance/Admin Specialists': 'Professional',
    'Admin/Commercial Directors': 'Professional',
    'Hospitality/Services Directors': 'Professional',

    # ARMED FORCES
    'Armed Forces': 'ArmedForces',
    'Armed Forces Officers': 'ArmedForces',
    'Armed Forces Sergeants': 'ArmedForces',
    'Other Armed Forces': 'ArmedForces',
    'Legislative/Executive Officers': 'ArmedForces',

    # SERVICE/SALES/SECURITY (maps to LowSkill)
    'Service/Sales/Security': 'LowSkill'
}
df['MotherOcc_Simple'] = df["Mother's Occupation"].map(occupation_mapping)
df['FatherOcc_Simple'] = df["Father's Occupation"].map(occupation_mapping)

In [15]:

application_mode_mapping = {
    '1st phase—general contingent': 'General',
    '2nd phase—general contingent': 'General',
    '3rd phase—general contingent': 'General',
    
    '1st phase—special contingent (Madeira Island)': 'SpecialRegional',
    '1st phase—special contingent (Azores Island)': 'SpecialRegional',
    
    'International student (bachelor)': 'International',
    'Change in institution/course (International)': 'International',
    
    'Short cycle diploma holders': 'Transfer/Other',
    'Technological specialization diploma holders': 'Transfer/Other',
    'Holders of other higher courses': 'Transfer/Other',
    'Transfer': 'Transfer/Other',
    'Change in course': 'Transfer/Other',
    'Change in institution/course': 'Transfer/Other',
    
    'Ordinance No. 612/93': 'Ordinance',
    'Ordinance No. 854-B/99': 'Ordinance',
    'Ordinance No. 533-A/99, item b2) (Different Plan)': 'Ordinance',
    'Ordinance No. 533-A/99, item b3 (Other Institution)': 'Ordinance',

    'Over 23 years old': "Unknown"
}
df['ApplicationMode_Simple'] = df['Application Mode'].map(application_mode_mapping)

In [16]:
def group_order(x):
    if x in [0,9]:
        return "Other"
    else:
        return x

df['ApplicationOrder_Simple'] = df['Application Order'].apply(group_order)

In [17]:

marital_mapping = {
    'Single': 'Single',
    'Married': 'Married',
    'Divorced': 'Separated/Divorced',
    'Legally Separated': 'Separated/Divorced',
    'Widower': 'Widowed',
    'Facto Union': 'Facto Union'
}

df['MaritalStatus_Simple'] = df['Marital Status'].map(marital_mapping)

In [18]:
nationality_mapping = {
    'Portuguese': 'Portuguese',
    'Brazilian': 'SouthAmerica',
    'Mexican': 'SouthAmerica',
    'Colombian': 'SouthAmerica',
    'Cuban': 'SouthAmerica',

    'Spanish': 'Europe',
    'Italian': 'Europe',
    'Moldovan': 'Europe',
    'Ukrainian': 'Europe',
    'Romanian': 'Europe',
    'German': 'Europe',
    'Russian': 'Europe',
    'Dutch': 'Europe',
    'English': 'Europe',
    'Lithuanian': 'Europe',
    'Turkish': 'Europe',

    'Cape Verdean': 'Africa',
    'Santomean': 'Africa',
    'Guinean': 'Africa',
    'Angolan': 'Africa',
    'Mozambican': 'Africa'
}

df['Nationality_Simple'] = df['Nationality'].map(nationality_mapping)

In [19]:

df['Evaluated Units (1st Sem)'] = df['Evaluated Units (1st Sem)'].clip(upper=df['Enrolled Units (1st Sem)'])
df['Evaluated Units (2nd Sem)'] = df['Evaluated Units (2nd Sem)'].clip(upper=df['Enrolled Units (2nd Sem)'])

In [20]:
# 1st Semester
# Rule 1: If Evaluated = 0 and Not Evaluated = 0 → Evaluated = Enrolled
mask_rule1_1st = (
    (df['Evaluated Units (1st Sem)'] == 0) &
    (df['Not Evaluated Units (1st Sem)'] == 0)
)
df.loc[mask_rule1_1st, 'Evaluated Units (1st Sem)'] = df.loc[mask_rule1_1st, 'Enrolled Units (1st Sem)']

# Rule 2: If Not Evaluated != 0 → Evaluated = Enrolled - Not Evaluated
mask_rule2_1st = (df['Not Evaluated Units (1st Sem)'] != 0)
df.loc[mask_rule2_1st, 'Evaluated Units (1st Sem)'] = (
    df.loc[mask_rule2_1st, 'Enrolled Units (1st Sem)'] - 
    df.loc[mask_rule2_1st, 'Not Evaluated Units (1st Sem)']
)

# 2nd Semester
# Rule 1
mask_rule1_2nd = (
    (df['Evaluated Units (2nd Sem)'] == 0) &
    (df['Not Evaluated Units (2nd Sem)'] == 0)
)
df.loc[mask_rule1_2nd, 'Evaluated Units (2nd Sem)'] = df.loc[mask_rule1_2nd, 'Enrolled Units (2nd Sem)']

# Rule 2
mask_rule2_2nd = (df['Not Evaluated Units (2nd Sem)'] != 0)
df.loc[mask_rule2_2nd, 'Evaluated Units (2nd Sem)'] = (
    df.loc[mask_rule2_2nd, 'Enrolled Units (2nd Sem)'] - 
    df.loc[mask_rule2_2nd, 'Not Evaluated Units (2nd Sem)']
)

In [21]:

mask_fix_ne_1st = (
    (df['Not Evaluated Units (1st Sem)'] == 0) &
    (df['Enrolled Units (1st Sem)'] != df['Evaluated Units (1st Sem)'])
)

df.loc[mask_fix_ne_1st, 'Not Evaluated Units (1st Sem)'] = (
    df.loc[mask_fix_ne_1st, 'Enrolled Units (1st Sem)'] -
    df.loc[mask_fix_ne_1st, 'Evaluated Units (1st Sem)']
)

In [22]:

# 1st Semester
inconsistent_1st = df[
    df['Not Evaluated Units (1st Sem)'] != 
    (df['Enrolled Units (1st Sem)'] - df['Evaluated Units (1st Sem)'])
]

# 2nd Semester
inconsistent_2nd = df[
    df['Not Evaluated Units (2nd Sem)'] != 
    (df['Enrolled Units (2nd Sem)'] - df['Evaluated Units (2nd Sem)'])
]

print("1st Sem inconsistent rows:", len(inconsistent_1st))
print("2nd Sem inconsistent rows:", len(inconsistent_2nd))

1st Sem inconsistent rows: 0
2nd Sem inconsistent rows: 0

In [23]:
numerical_cols = [
    'Age at Enrollment','Unemployment Rate (%)', 'Inflation Rate (%)', 'GDP per Capita (USD)'
]

In [24]:
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    # Cap values outside the range
    df[col] = df[col].clip(lower, upper)

In [25]:
df.head()

,Marital Status,Application Mode,Application Order,Course Name,Daytime/Evening Attendance,Previous Qualification,Nationality,Mother's Qualification,Father's Qualification,Mother's Occupation,Father's Occupation,Displaced Student,Special Educational Needs,Is Debtor,Tuition Fees Up-to-Date,"Gender (1=Male, 0=Female)",Scholarship Holder,Age at Enrollment,International Student,Credited Units (1st Sem),Enrolled Units (1st Sem),Evaluated Units (1st Sem),Approved Units (1st Sem),Average Grade (1st Sem),Not Evaluated Units (1st Sem),Credited Units (2nd Sem),Enrolled Units (2nd Sem),Evaluated Units (2nd Sem),Approved Units (2nd Sem),Average Grade (2nd Sem),Not Evaluated Units (2nd Sem),Unemployment Rate (%),Inflation Rate (%),GDP per Capita (USD),Student Status,FatherQual,PrevQual,MotherQual,Course_Field,MotherOcc_Simple,FatherOcc_Simple,ApplicationMode_Simple,ApplicationOrder_Simple,MaritalStatus_Simple,Nationality_Simple
0,Single,2nd phase—general contingent,5,Animation and Multimedia Design,Daytime,Secondary education,Portuguese,General commerce course,Other—11th Year,Service/Sales/Security,Unskilled Workers,Yes,No,No,Yes,Male,No,20,No,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout,Secondary_Incomplete,Secondary/Technical,Secondary/Technical,Arts,LowSkill,LowSkill,General,5,Single,Portuguese
1,Single,International student (bachelor),1,Tourism,Daytime,Secondary education,Portuguese,Secondary Education,Higher Education Degree,Technicians & Professionals,Technicians & Professionals,Yes,No,No,No,Male,No,19,No,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,HigherEd,Secondary/Technical,Secondary/Technical,Management,Technical,Technical,International,1,Single,Portuguese
2,Single,1st phase—general contingent,5,Communication Design,Daytime,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 1st Cycle,Unskilled Workers,Unskilled Workers,Yes,No,No,No,Male,No,19,No,0,6,6,0,0.000000,0,0,6,6,0,0.000000,0,10.8,1.4,1.74,Dropout,Basic,Secondary/Technical,Secondary/Technical,Communication,LowSkill,LowSkill,General,5,Single,Portuguese
3,Single,2nd phase—general contingent,2,Journalism and Communication,Daytime,Secondary education,Portuguese,Accounting & Admin course,Basic Edu 1st Cycle,Service/Sales/Security,Technicians & Professionals,Yes,No,No,Yes,Female,No,20,No,0,6,6,6,13.428571,0,0,6,6,5,12.400000,0,9.4,-0.8,-3.12,Graduate,Basic,Secondary/Technical,Secondary/Technical,Communication,LowSkill,Technical,General,2,Single,Portuguese
4,Married,Over 23 years old,1,Social Service (evening attendance),Evening,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 2nd Cycle,Unskilled Workers,Unskilled Workers,No,No,No,Yes,Female,No,34,No,0,6,6,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,Basic,Secondary/Technical,Secondary/Technical,Social,LowSkill,LowSkill,Unknown,1,Married,Portuguese

In [26]:
os.getcwd()

'c:\\student_dropout_prediction_app'

In [28]:
df.to_csv("cleaned_data.csv",index=False)