In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [4]:
import os
os.getcwd()

'c:\\student_dropout_prediction_app\\Notebooks'

In [6]:
os.chdir('/student_dropout_prediction_app')

In [7]:
os.getcwd()

'c:\\student_dropout_prediction_app'

In [8]:
df = pd.read_csv("cleaned_Data.csv")
df.head()

,Marital Status,Application Mode,Application Order,Course Name,Daytime/Evening Attendance,Previous Qualification,Nationality,Mother's Qualification,Father's Qualification,Mother's Occupation,Father's Occupation,Displaced Student,Special Educational Needs,Is Debtor,Tuition Fees Up-to-Date,"Gender (1=Male, 0=Female)",Scholarship Holder,Age at Enrollment,International Student,Credited Units (1st Sem),Enrolled Units (1st Sem),Evaluated Units (1st Sem),Approved Units (1st Sem),Average Grade (1st Sem),Not Evaluated Units (1st Sem),Credited Units (2nd Sem),Enrolled Units (2nd Sem),Evaluated Units (2nd Sem),Approved Units (2nd Sem),Average Grade (2nd Sem),Not Evaluated Units (2nd Sem),Unemployment Rate (%),Inflation Rate (%),GDP per Capita (USD),Student Status,FatherQual,PrevQual,MotherQual,Course_Field,MotherOcc_Simple,FatherOcc_Simple,ApplicationMode_Simple,ApplicationOrder_Simple,MaritalStatus_Simple,Nationality_Simple
0,Single,2nd phase—general contingent,5,Animation and Multimedia Design,Daytime,Secondary education,Portuguese,General commerce course,Other—11th Year,Service/Sales/Security,Unskilled Workers,Yes,No,No,Yes,Male,No,20,No,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout,Secondary_Incomplete,Secondary/Technical,Secondary/Technical,Arts,LowSkill,LowSkill,General,5,Single,Portuguese
1,Single,International student (bachelor),1,Tourism,Daytime,Secondary education,Portuguese,Secondary Education,Higher Education Degree,Technicians & Professionals,Technicians & Professionals,Yes,No,No,No,Male,No,19,No,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,HigherEd,Secondary/Technical,Secondary/Technical,Management,Technical,Technical,International,1,Single,Portuguese
2,Single,1st phase—general contingent,5,Communication Design,Daytime,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 1st Cycle,Unskilled Workers,Unskilled Workers,Yes,No,No,No,Male,No,19,No,0,6,6,0,0.000000,0,0,6,6,0,0.000000,0,10.8,1.4,1.74,Dropout,Basic,Secondary/Technical,Secondary/Technical,Communication,LowSkill,LowSkill,General,5,Single,Portuguese
3,Single,2nd phase—general contingent,2,Journalism and Communication,Daytime,Secondary education,Portuguese,Accounting & Admin course,Basic Edu 1st Cycle,Service/Sales/Security,Technicians & Professionals,Yes,No,No,Yes,Female,No,20,No,0,6,6,6,13.428571,0,0,6,6,5,12.400000,0,9.4,-0.8,-3.12,Graduate,Basic,Secondary/Technical,Secondary/Technical,Communication,LowSkill,Technical,General,2,Single,Portuguese
4,Married,Over 23 years old,1,Social Service (evening attendance),Evening,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 2nd Cycle,Unskilled Workers,Unskilled Workers,No,No,No,Yes,Female,No,34,No,0,6,6,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,Basic,Secondary/Technical,Secondary/Technical,Social,LowSkill,LowSkill,Unknown,1,Married,Portuguese

In [10]:

binary_cols = [
    'Is Debtor',
    'Tuition Fees Up-to-Date',
    'Special Educational Needs',
    'Scholarship Holder'
]

df[binary_cols] = df[binary_cols].apply(lambda col: col.map({"Yes":1, "No":0}) if col.dtype=='object' else col)

In [11]:
df.head()

,Marital Status,Application Mode,Application Order,Course Name,Daytime/Evening Attendance,Previous Qualification,Nationality,Mother's Qualification,Father's Qualification,Mother's Occupation,Father's Occupation,Displaced Student,Special Educational Needs,Is Debtor,Tuition Fees Up-to-Date,"Gender (1=Male, 0=Female)",Scholarship Holder,Age at Enrollment,International Student,Credited Units (1st Sem),Enrolled Units (1st Sem),Evaluated Units (1st Sem),Approved Units (1st Sem),Average Grade (1st Sem),Not Evaluated Units (1st Sem),Credited Units (2nd Sem),Enrolled Units (2nd Sem),Evaluated Units (2nd Sem),Approved Units (2nd Sem),Average Grade (2nd Sem),Not Evaluated Units (2nd Sem),Unemployment Rate (%),Inflation Rate (%),GDP per Capita (USD),Student Status,FatherQual,PrevQual,MotherQual,Course_Field,MotherOcc_Simple,FatherOcc_Simple,ApplicationMode_Simple,ApplicationOrder_Simple,MaritalStatus_Simple,Nationality_Simple
0,Single,2nd phase—general contingent,5,Animation and Multimedia Design,Daytime,Secondary education,Portuguese,General commerce course,Other—11th Year,Service/Sales/Security,Unskilled Workers,Yes,0,0,1,Male,0,20,No,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout,Secondary_Incomplete,Secondary/Technical,Secondary/Technical,Arts,LowSkill,LowSkill,General,5,Single,Portuguese
1,Single,International student (bachelor),1,Tourism,Daytime,Secondary education,Portuguese,Secondary Education,Higher Education Degree,Technicians & Professionals,Technicians & Professionals,Yes,0,0,0,Male,0,19,No,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,HigherEd,Secondary/Technical,Secondary/Technical,Management,Technical,Technical,International,1,Single,Portuguese
2,Single,1st phase—general contingent,5,Communication Design,Daytime,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 1st Cycle,Unskilled Workers,Unskilled Workers,Yes,0,0,0,Male,0,19,No,0,6,6,0,0.000000,0,0,6,6,0,0.000000,0,10.8,1.4,1.74,Dropout,Basic,Secondary/Technical,Secondary/Technical,Communication,LowSkill,LowSkill,General,5,Single,Portuguese
3,Single,2nd phase—general contingent,2,Journalism and Communication,Daytime,Secondary education,Portuguese,Accounting & Admin course,Basic Edu 1st Cycle,Service/Sales/Security,Technicians & Professionals,Yes,0,0,1,Female,0,20,No,0,6,6,6,13.428571,0,0,6,6,5,12.400000,0,9.4,-0.8,-3.12,Graduate,Basic,Secondary/Technical,Secondary/Technical,Communication,LowSkill,Technical,General,2,Single,Portuguese
4,Married,Over 23 years old,1,Social Service (evening attendance),Evening,Secondary education,Portuguese,Administration & Commerce course,Basic Edu 2nd Cycle,Unskilled Workers,Unskilled Workers,No,0,0,1,Female,0,34,No,0,6,6,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,Basic,Secondary/Technical,Secondary/Technical,Social,LowSkill,LowSkill,Unknown,1,Married,Portuguese

In [12]:
df['Pass Rate (1st Sem)'] = df.apply(
    lambda row: row['Approved Units (1st Sem)'] / row['Enrolled Units (1st Sem)'] 
    if row['Enrolled Units (1st Sem)'] != 0 else 0, axis=1
)
df['Pass Rate (2nd Sem)'] = df.apply(
    lambda row: row['Approved Units (2nd Sem)'] / row['Enrolled Units (2nd Sem)'] 
    if row['Enrolled Units (2nd Sem)'] != 0 else 0, axis=1
)

In [13]:
df['Total Approved Units'] = df['Approved Units (1st Sem)'] + df['Approved Units (2nd Sem)']
df['Total Enrolled Units'] = df['Enrolled Units (1st Sem)'] + df['Enrolled Units (2nd Sem)']
df['Total Evaluated Units'] = df['Evaluated Units (1st Sem)'] + df['Evaluated Units (2nd Sem)']

In [14]:

df['Grade Difference'] = df['Average Grade (2nd Sem)'] - df['Average Grade (1st Sem)']

In [15]:
def load_category(x):
    if x >= 40:
        return 'Full Load'
    elif x >= 20:
        return 'Medium Load'
    else:
        return 'Low Load'

df['Load Category'] = df['Total Enrolled Units'].apply(load_category)

In [16]:

df['Debt Risk'] = df['Is Debtor'].apply(lambda x: 1 if str(x).strip().lower() == 'yes' else 0)

In [17]:
df['Tuition Stable'] = df['Tuition Fees Up-to-Date'].apply(lambda x: 1 if str(x).strip().lower() == 'yes' else 0)

In [18]:
df['Socioeconomic Stress Score'] = (df['Unemployment Rate (%)'] + df['Inflation Rate (%)'])

In [19]:

df['Financial Hardship'] = (df['Inflation Rate (%)'] / df['GDP per Capita (USD)'])

In [20]:

df['Econ_Disadvantage'] = (
    (df['Is Debtor']) +
    (1 - df['Tuition Fees Up-to-Date']) +
    (df['Special Educational Needs']) +
    (df['Scholarship Holder'] == 1)
)

In [21]:
df.to_csv("cleaned_feature_eng_data.csv", index = False)